// .browsehappy {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }

// .thumbnail {
//   height: 200px;

//   img.pull-right {
//     width: 50px;
//   }
// }
// injector
// endinjector

  //Media Queries
@mixin breakpoint($point) {
   @if $point == xlScreen {
    @media (min-width: 1251px) { @content; }
  }
  @if $point == lScreen {
    @media (max-width: 1250px) { @content; }
  }
   @if $point == mScreen {
    @media (max-width: 825px) { @content; }
  }
    @if $point == sScreen {
    @media (max-width: 575px) { @content; }
  }
}




$white:  #FFF;
$offwhite:  darken(#FFF, 15%);
$title: darken(#E9EAED, 30%);
$titlefont: #FFF;
$tab: darken(#E9EAED, 10%);
$bottom-edge: darken(#E9EAED, 15%);
$buttons: darken(#E9EAED, 30%);
$mainfont: gray;

$red: #d30000;
$green: #1a7a00;





body {
  background-color: #E9EAED;
}

h1, p, button {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width:60%;
  margin:0 auto 5% auto;
  padding:10px;
  clear:both;
  @include breakpoint(mScreen) {
  width:80%;
  }
  @include breakpoint(sScreen) {
  width:100%;
  margin:0px;
  padding:0px;
  }


  #title {
  background-color: $title;
  padding:10px 0;
    h1 {
      padding: 5px 10px;
      color: $titlefont;
    }
  }
  
  section {
  background-color: $white;
  width:100%;
  margin: 5px 0;
  border-bottom: 3px solid $offwhite;
  height:70px;
  opacity:0.7;
  transition: all 0.3s ease;
  &:hover {
  opacity:1;
  height:90px;
  transition: all 0.3s ease;
  }
    button {
      float:right;
      background-color: $offwhite;
      border:none;
      padding:0px 40px;
      height:100%;
      color:#fff;
      
    }
  
    .complete {color: $green;}
    .delete {color: $red;}
    i {
      transition: all 0.3s ease;
      opacity: 0.3;  
    }
    i:hover {
      transform: scale(1.5);
      opacity:0.75;
      transition: all 0.3s ease;

    }
    p {
      padding-left: 10px;
      display: inline-block;
    }
  }
}

.panel {
  width:60%;
  margin:5% auto 0 auto;
  padding:5px;
  
  @include breakpoint(mScreen) {
  width:80%;
  }
  @include breakpoint(sScreen) {
  width:100%;
  margin:0px;
  padding:0px;
  }
    p {
    float:right;  
    display:inline-block;
    text-align:center;
    padding:10px;
    box-sizing:border-box;
    margin:10px 0;
  }

}




